In [1]:
import numpy as np
import pandas as pd

In [2]:
# import the  data

app_downloads = pd.read_csv('metrocar_data/app_downloads.csv')
reviews = pd.read_csv('metrocar_data/reviews.csv')
ride_requests = pd.read_csv('metrocar_data/ride_requests.csv')
signups = pd.read_csv('metrocar_data/signups.csv')
transactions = pd.read_csv('metrocar_data/transactions.csv')

/var/folders/1m/hvnyjbcx2rxfb9d__rb_m7h00000gp/T/ipykernel_21111/650494655.py:5: DtypeWarning: Columns (4,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ride_requests = pd.read_csv('metrocar_data/ride_requests.csv')

In [3]:
df = app_downloads.merge(signups, left_on='app_download_key', right_on='session_id', how='inner' )\
                  .merge(ride_requests, on='user_id', how='inner')\
                  .merge(transactions, on='ride_id', how='inner')\
                  .merge(reviews, on=['user_id','ride_id','driver_id'], how='inner')

# downloads_df.merge(signups_df, left_on='app_download_key', right_on='session_id', how='inner')

In [4]:
df.columns

Index(['app_download_key', 'platform', 'download_ts', 'user_id', 'session_id',
       'signup_ts', 'age_range', 'ride_id', 'driver_id', 'request_ts',
       'accept_ts', 'pickup_location', 'dropoff_location', 'pickup_ts',
       'dropoff_ts', 'cancel_ts', 'transaction_id', 'purchase_amount_usd',
       'charge_status', 'transaction_ts', 'review_id', 'rating', 'review'],
      dtype='object')

In [5]:
columns_to_convert = ['download_ts', 'signup_ts', 'request_ts', 'accept_ts', 'pickup_ts', 'dropoff_ts', 'cancel_ts', 'transaction_ts', 'review_id']

for column in columns_to_convert:
    new_column_name = column.replace('_ts', '')
    df[column] = df[column].notna().astype(int)
    df = df.rename(columns={column: new_column_name})

In [10]:
df = df[['user_id', 'age_range', 'platform', 'download', 'signup', 'request', 'accept', 'pickup', 'dropoff', 'cancel', 'transaction', 'charge_status', 'purchase_amount_usd','review_id', 'rating']]

In [11]:
df.head()

,user_id,age_range,platform,download,signup,request,accept,pickup,dropoff,cancel,transaction,charge_status,purchase_amount_usd,review_id,rating
0,100497,45-54,android,1,1,1,1,1,1,0,1,Approved,13.05,1,4
1,100497,45-54,android,1,1,1,1,1,1,0,1,Approved,25.10,1,1
2,100497,45-54,android,1,1,1,1,1,1,0,1,Approved,18.38,1,1
3,100497,45-54,android,1,1,1,1,1,1,0,1,Approved,27.20,1,5
4,100497,45-54,android,1,1,1,1,1,1,0,1,Approved,22.49,1,4

In [12]:
grouped_df = df[df['user_id'] == 100497].groupby('user_id').first()

In [13]:
grouped_df

,age_range,platform,download,signup,request,accept,pickup,dropoff,cancel,transaction,charge_status,purchase_amount_usd,review_id,rating
user_id,,,,,,,,,,,,,,
100497,45-54,android,1,1,1,1,1,1,0,1,Approved,13.05,1,4